@model IEnumerable<LibraryManagement.Models.Sach>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamXuatBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhaXuatBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgonNgu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamXuatBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaXuatBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgonNgu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSach">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSach">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSach">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
