@model LibraryManagement.Models.PhieuPhat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PhieuPhat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTienPhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTienPhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LyDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LyDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThaiThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThaiThanhToan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaPhat">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
