@model IEnumerable<LibraryManagement.Models.PhieuPhat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoTienPhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LyDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiThanhToan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoTienPhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LyDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiThanhToan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaPhat">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaPhat">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaPhat">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
