@model IEnumerable<LibraryManagement.Models.PhieuMuon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayMuon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HanTra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoNgayTre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayMuon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HanTra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoNgayTre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaPhieuMuon">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaPhieuMuon">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaPhieuMuon">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
